body {
  font-family: 'Raleway', sans-serif;}

/*------HOME PAGE----------*/

.topnav {
overflow: hidden;
  
}
.header {
  padding: 40px;
  margin: 40px;
  font-size: 50px;
  color: black;
}

.pages {
  padding: 50px;
  margin: 50px;
  font-size: 20px;
}

a:link {
  color: #3ad4c7;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3ad4c7;
}

/* mouse over link */
a:hover {
  color:black;
}

/* selected link */
a:active {
  color: black;
}

.linkspacing {
  margin-right: 30px;
}

.intro {
  padding: 40px;
  margin: 40px;
  margin-top: -80px;
  font-size: 25px;
}

.homepageline {
  margin: 80px;
  margin-top: -40px;

}

/*------ABOUT----------*/
.about {
  font-size: 20px;
}

.bio {
  overflow: hidden;
}

.blurb {
  display: block;
  width: 30%;
  margin-right: 200px;
  margin-top: -20px;
}

.aboutimg {
  margin-left: 200px;
  width: 400px;
  margin-top: 80px;
  border-radius: 1%;
}

.linkstyling {
  color: #3ad4c7;

}

.textheader {
  text-align: center;
  font-size: 50px;
}

/*------FOOTER----------*/
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

i {
  margin-right: 15px;
}

a.footerlinks {
  color: black;
}

a.footerlinks:hover {
  color: #3ad4c7;
}