body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Arapey', serif;
  background-image: linear-gradient(to bottom,  rgb(248, 248, 248),white);
}

/*------HOME PAGE----------*/
/* .subtitle {
  margin-top: 5px;
  font-size: 30px;
}

.topnav {
overflow: hidden;
}


.pagebuttons .icon {
  display: none;
} */

p {
  font-family: 'Arapey', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Arapey', serif;
}

a {
  font-family: 'Arapey', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
  padding: 30px;
  margin: 30px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 45px;
  letter-spacing: 2px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  margin-left: 150px;
  letter-spacing: 2px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 45px;
  margin-top: 0;

}

.navbar-toggle {
  position: absolute;
  top: 50px;
  right: 10px;
  cursor: pointer;
  color: #3ad4c7;
  font-size: 24px;
}

.active {
  display: inline;
}

@media screen and (min-width: 850px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
      letter-spacing: 1px;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: black;
  }
}



a:link {
  color: #3ad4c7;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3ad4c7;
}

/* mouse over link */
a:hover {
  color:black;
}

/* selected link */
a:active {
  color: black;
}

.linkspacing {
  margin-right: 30px;
  font-size: 20px;
}

.intro {
  padding: 40px;
  margin: 40px;
  margin-top: -90px;
  font-size: 25px;
}

.welcome {
  padding: 40px;
  margin: 40px;
  margin-top: -20px;
  font-size: 35px;
}

.homepageline {
  margin: 80px;
  margin-top: -40px;

}

.projectimg {
  margin-left: 300px;
  width: 300px;
  /* margin-top: 40px; */
  border-radius: 1%;
}

.projecttitle {
  font-size: 30px;
  margin-top: 8px;
}

.projectbutton {
  font-family: 'Raleway', sans-serif; 
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  color: #3ad4c7;
  background-color: white;
  border-style: solid;
  padding: 8px;
  border-width: 1px;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
  border-color: #3ad4c7;
  margin-right: 10px;
}

.projectbutton:hover{
  opacity: .6;
  cursor: pointer;
}

/* .projects {
  margin-bottom: 20px;
} */

.projectblurb {
  font-size: 20px;
}

.dates {
  font-size: 18px;
}

video {
  /* margin-left: 125px; */
  width: 400px;
  height: 300px;
  /* margin-top: 40px; */
}

.projectrow {
  margin-bottom: 40px;
}

/*------ABOUT----------*/
.about {
  font-size: 20px;
}

.bio {
  overflow: hidden;
  margin-top: 50px;
}

.blurb {
  display: block;
  width: 30%;
  margin-right: 200px;
  margin-top: 30px;
}

.aboutimg {
  width: 400px;
  margin-top: 80px;
  border-radius: 1%;
}

.linkstyling {
  color: #3ad4c7;
}

.textheader {
  text-align: center;
  font-size: 40px;
}

.aboutblurb {
  font-size: 18px;
}

/*------FOOTER----------*/
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

i {
  margin-right: 15px;
}

a.footerlinks {
  color: black;
}

a.footerlinks:hover {
  color: #3ad4c7;
}